@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');


.square{
display: flex;
width: 320px;
height: 311px;
margin-left: 0px;
margin-top: 2437px;
background-color: #121E59;
z-index: 10;
}

 .circle{
margin-left: 249px;
margin-top: -118px;
display: flex;
border-radius: 50%;
width: 120px;
height: 120px;

background-color: #F6C000;
opacity: 0.2;
filter: blur(4px);
z-index: 8;
}

.quotes p{
  margin-top: -280px;
  margin-left: 28px;
  display: flex;
  width: 98px;
  height: 373px;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 288px ;
  text-align: center;
  transform: rotate(-180deg);
  color: #F6C000;
  letter-spacing: -40px;

  opacity: 0.1;
  z-index: 3;
}

.quotes h1{
  margin-top: -310px;
  margin-left: 45px;
  display: flex;
  width: 80%;
  font-family: Roboto Slab;
  font-style: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  z-index: 1;
  color: white;
}

.quotes h2{
  margin-left: 45px;
  display: flex;
  width: 80%;
  font-family: Roboto Slab;
  font-style: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  z-index: 1;
  color: white;
}
